<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/coaches.css">
    <link rel="stylesheet" href="../src/css/styles.css">
    <title>FitBuddy Workout Tracker</title>
</head>
<body>
<div class="dashboard-container">
    <div class="header">
        <button class="logo">
            <span class="fit">Fit</span><span class="buddy">Buddy</span>
        </button>
        <div class="navbar">
            <a href="#">Workout</a>
            <a href="#">Nutrition</a>
            <a href="#">Sleep</a>
            <a href="#">Goal</a>
            <a href="#">Coaches</a>
            <a href="#">Leaderboard</a>
            <a href="#">Forum</a>
        </div>
        <button class="log-out-button">Log out</button>
    </div>

    <div class="coaches">
        <h1>Coaches</h1>
    </div>
</div>

<div class="coaches-container">
    <table>
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Speciality</th>
            <th>Book Now</th>
        </tr>
        </thead>
        <tbody>
        <!-- Add coach entries dynamically here -->
        </tbody>
    </table>
</div>

<script src="../src/js/coaches.js"></script>
</body>
</html>
