<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/dashboard.css">
    <script src="../src/js/dashboard.js" type="module" defer></script>
    <script src="../src/js/logo.js" type="module" defer></script>
    <script src="../src/js/logout.js" type="module" defer></script>
    <title>FitBuddy Dashboard</title>
</head>
<body>
<div class="dashboard-container">
    <div class="header">
        <button class="logo">
            <span class="fit">Fit</span><span class="buddy">Buddy</span>
        </button>
        <div class="navbar">
            <a href="#">Workout</a>
            <a href="#">Nutrition</a>
            <a href="#">Sleep</a>
            <a href="#">Goal</a>
            <a href="#">Coaches</a>
            <a href="#">Leaderboard</a>
            <a href="#">Forum</a>
        </div>
        <button class="log-out-button">Log out</button>
    </div>

    <div class="welcome-message">
        <h1>Welcome, <span id="email">[Username]</span>!</h1>
        <p class="motivational-sentence">Stay motivated! You're one workout away from a better mood.</p>
    </div>
</div>
</body>
</html>