<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/dashboard.css">
    <title>FitBuddy Dashboard</title>
</head>
<body>
<div class="dashboard-container">
    <div class="header">
        <button class="logo">
            <span class="fit">Fit</span><span class="buddy">Buddy</span>
        </button>
        <div class="navbar">
            <a href="workout.html">Workout</a>
            <a href="nutrition.html">Nutrition</a>
            <a href="sleep.html">Sleep</a>
            <a href="goal.html">Goal</a>
            <a href="coaches.html">Coaches</a>
            <a href="leaderboard.html">Leaderboard</a>
            <a href="forum.html">Forum</a>
        </div>
        <button class="log-out-button">Log out</button>
    </div>

    <div class="welcome-message">
        <h1>Welcome, <span id="email">[Username]</span>!</h1>
        <p class="motivational-sentence">Stay motivated! You're one workout away from a better mood.</p>
    </div>
</div>

<div class="workout-container">
    <div class="workout-display">
        <h1 class="workouts-title">Workout for Today</h1>
        <div class="workouts-list"></div>
    </div>
</div>

<div class="sleep-container">
    <div class="sleep-display">
        <h1 class="sleep-title">Sleep For Today</h1>
        <div class="sleep-list">
        </div>
    </div>
</div>

<script src="../src/js/dashboard.js" type="module" defer></script>
<script src="../src/js/authorization.js" type="module" defer></script>
<script src="../src/js/logo.js" type="module" defer></script>
<script src="../src/js/logout.js" type="module" defer></script>
</body>
</html>