<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/leaderboard.css">
    <link rel="stylesheet" href="../src/css/styles.css">
    <title>FitBuddy Workout Tracker</title>
</head>
<body>
<div class="dashboard-container">
    <div class="header">
        <button class="logo">
            <span class="fit">Fit</span><span class="buddy">Buddy</span>
        </button>
        <div class="navbar">
            <a href="workout.html">Workout</a>
            <a href="nutrition.html">Nutrition</a>
            <a href="sleep.html">Sleep</a>
            <a href="goal.html">Goal</a>
            <a href="coaches.html">Coaches</a>
            <a href="leaderboard.html">Leaderboard</a>
            <a href="forum.html">Forum</a>
        </div>
        <button class="log-out-button">Log out</button>
    </div>

    <div class="leaderboard">
        <h1>Leaderboard</h1>
    </div>
</div>

<div class="leaderboard-container">
    <table>
        <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="../src/js/authorization.js" type="module" defer></script>
<script src="../src/js/leaderboard.js"></script>
<script src="../src/js/logo.js" type="module" defer></script>
<script src="../src/js/logout.js" type="module" defer></script>
</body>
</html>
