body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.goal-container {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color: #4CAF50;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.goal-tracker {
    padding: 2px;
    max-width: 600px;
    margin: auto;
    color: white;
}

.goals-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.goal-card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px 15px 20px 15px;
    width: 200px;
}

.goal-card h2 {
    color: #4CAF50;
}

.goal-card {
    position: relative;
}

.delete-goal-button {
    padding: 6px 10px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.delete-goal-button:hover {
    background-color: darkred;
}

.complete-goal-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.complete-goal-button:hover {
    background-color: darkgreen;
}

.completed-goal {
    background-color: lightgreen;
}