body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}


.nutrition-container {
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nutritions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.nutritions-table th, .nutritions-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.nutritions-table th {
    background-color: #4CAF50;
    color: white;
}

.nutritions-table tfoot {
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
}

.nutritions-table tfoot td {
    padding: 12px;
    text-align: left;
    border-top: 1px solid #ddd;
}

h2 {
    color: #4CAF50;
}

.date-navigation {
    margin-bottom: 20px;
}

.prev-date,
.next-date {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.prev-date:hover,
.next-date:hover {
    background-color: #45a049;
}

.current-date {
    margin: 0 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color: #4CAF50;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.meal-tracker {
    padding: 2px;
    max-width: 600px;
    margin: auto;
    color: white;
}

.delete-nutrition-button {
    background-color: #ff5454;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
}

.delete-nutrition-button:hover {
    background-color: #cc0000;
}